@model List<TheaBlog.Models.Photo>
@{
    ViewBag.Title = "Home Page";
}

<div id="cf7" class="shadow">
@foreach (var item in Model)
{
    if (item.Image != null)
    {
        <div class="col-md-4">
            <div>@item.Title</div>
            <div>
                <img class="change-pic" src="~/Files?id=@item.Image.FileId" alt="image" />
            </div>
        </div>
    }
}
</div>