@model System.Collections.Generic.List<TheaBlog.Models.Photo>
@{
    ViewBag.Title = "Home Page";
}
<script>
    
</script>

<div id="cf7" class="shadow">
@foreach (var item in Model)
{
    if (item.Image != null)
    {
        <div>
            <img class="change-pic" src="~/Files?id=@item.Image.FileId" alt="image" />
        </div>
    }
}
   
</div>
<p id="cf7_controls">
    <span class="selected">Image 1</span>
    <span>Image 2</span>
    <span>Image 3</span>
    <span>Image 4</span>
</p>