@model List<TheaBlog.Models.Photo>
@{
    ViewBag.Title = "Home Page";
}
<script>
    
</script>

<div id="cf7" class="shadow">
@foreach (var item in Model)
{
    if (item.Image != null)
    {
        <div>@item.Title</div>
        <div>
            <img class="change-pic" src="~/Files?id=@item.Image.FileId" alt="image" />
        </div>
    }
}
   
</div>